/[^.]*
/.zshrc-secrets

.MacOSX
.Trash

/.zcompdump*
/.zsh-update

/.rbenv
/.rvm

/.*history

/.bower
/.cache
/.cargo
/.cups
/.emacs.d
/.gem
/.gh-credentials
/.gitconfig
/.ghc
/.ghcjs
/.gradle
/.heroku
/.js
/.lein
/.local
/.m2
/.netrc
/.npm
/.oh-my-zsh
/.pip
/.ssh
/.vim*

.IdeaIC*/
.NERDTreeBookmarks
.atom/
!.atom/keymap.cson
.aws/
.wget-hsts
.cabal/
.composer/
.docker/
.drush/
.elm/
.gsutil/
.htoprc
.jenv/
.node-gyp/
.stack/
.v8flags.*.json
wget-hsts
.wp-cli/

Work

/.pg*
